@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gradient-custom {
  background: linear-gradient(90deg, #F8E1E1 0%, #E4E1F8 50%, #E1EBF8 100%);
}

@layer utilities {
  .backdrop-blur {
    backdrop-filter: blur(4px);
  }
}
